span{
    color:rgb(228, 61, 89)
}
.Wrapper{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(233, 225, 225);
    display: flex;
    justify-content: space-between;
    
}
.Photo{
    position: absolute;
    left:60%;
    bottom: 0;
    width: 28%;
}
.ContentBox{
    display: flex;
    align-self: center;
    padding-left:70px;
    width: 100%;
  
}
.TitleText{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    padding-left: 20px;
}
.Prof{
    font-size: 45px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.TextP{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: lightslategrey;
}
.SocialWrapper{
  display: flex;
  align-items: center;
  width:auto;
  justify-content: flex-end;
}
.SocialItems{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}
.SocialItem{
    margin:20px 45px;
}
@media(max-width: 440px){
    .Wrapper{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }    
    .Photo{
        position: absolute;
        left: 28%;
        top: 45%;
        width: 50%
    }
    .ContentBox{
        display: flex;
        align-self: center;
        padding:50px 0 0 8px;
        width: 100%;
        
    }
    .TitleText{
        margin: 0;
        padding: 0;
        font-family: 'Cabin', sans-serif;
        font-weight: 700;
        padding-left: 20px;
    }
    .Prof{
        font-size: 35px;
        margin: 0;
        padding: 0;
        font-weight: 700;
    }
    .TextP{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: lightslategrey;
    }
    .SocialWrapper{
      display: flex;
      width: auto;
      justify-content: center;
    }
    .SocialItems{
        display: flex;
        text-decoration: none;
        list-style-type: none;
        padding: 0;
    }
    .SocialItem{
        margin:10px 20px;
    }
}
@media(min-width: 1400px){
    .Wrapper{
        min-height: 85vh;
        position: relative;
    }
}
