.Links{
    background-color: rgb(233, 225, 225);
    width:100%;
    position: fixed;
    padding: 0 5px 0 70px;
    display: flex;
    z-index: 5;
}
.LinksItems{
    display: inline-flex;
    width: auto;
    margin: 0;
    padding:15px 0 15px 0;
    list-style-type: none;
    border-radius: 40px;
}
.LinksItem{
    justify-content: center;
}
.LinksItem__a{
    margin: 0px 15px;
    padding: 5px 20px;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    border-radius: 40px;
    color: black;
}
.LinksItem__a:hover{
    color:  rgb(228, 61, 89);
    cursor: pointer;
    
}
@media(max-width:440px){
    .Links{
        background-color: rgb(233, 225, 225);
        width:100%;
        position: fixed;
        padding:0;
        display: flex;
        justify-content: center;
    }
    .LinksItems{
        display: inline-flex;
        justify-content: space-between;
        width: auto;
        margin: 0;
        padding:15px 0 15px 0;
        list-style-type: none;
        border-radius: 40px;
    }
    .LinksItem__a{
        margin: 10px;
        padding: 5px 20px;
        text-decoration: none;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 300;
        font-size: 15px;
        border-radius: 40px;
        color: black;
    }
}